{% extends 'base.html.twig' %}

{% block title %}Role #{{ role.id }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        h2 {
            color: lightgrey;
        }
        .main {
            font-size: 150%;
        }
        .main img {
            float: left;
            width: 250px;
            height: 250px;
            margin: 5px 15px 5px 0;
        }
        .stories {
            clear: both;
            margin-top: 60px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1 class="page-header">
            {{ role.name }}
            {% if role.createdBy == user %}
            <span class="small">
                <a href="{{ path('role_edit', { roleId : role.id }) }}">edit</a>
            </span>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-8">
        <div class="main clearfix">
            {% image '@AppBundle/Resources/public/images/placeholder.jpg' %}
                <img src="{{ asset_url }}" class="img-rounded" />
            {% endimage %}
            {{ role.description|nl2br }}
        </div>
        <div class="stories">
            <h2>Related Stories</h2>
            {% set stories = role.stories %}
            {{ include('story/partials/list.html.twig') }}
        </div>
    </div>
    <div class="col-md-4">

    </div>
{% endblock %}
