{% extends 'base.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-4">
        <h2 class="page-header">
            <a href="{{ path('story_list') }}" style="color: inherit;">Stories</a>
            <span class="small">
                <a href="{{ path('story_create') }}">Create</a>
            </span>
        </h2>
        {{ include('story/partials/list.html.twig') }}
    </div>
    <div class="col-md-4">
        <h2 class="page-header">
            <a href="{{ path('location_list') }}" style="color: inherit;">Locations</a>
            <span class="small">
                <a href="{{ path('location_create') }}">Create</a>
            </span>
        </h2>
        {{ include('location/partials/list.html.twig') }}
    </div>
    <div class="col-md-4">
        <h2 class="page-header">
            <a href="{{ path('role_list') }}" style="color: inherit;">Characters</a>
            <span class="small">
                <a href="{{ path('role_create') }}">Create</a>
            </span>
        </h2>
        {{ include('role/partials/list.html.twig') }}
    </div>
{% endblock %}
