{% extends 'base.html.twig' %}

{% block title %}Story #{{ id }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        h1.page-header {
            margin-bottom: 0;
        }
        h2 {
            color: lightgrey;
        }
        .main {
            font-size: 150%;
        }
        .main img {
            float: left;
            width: 250px;
            height: 250px;
            margin: 5px 15px 5px 0;
        }
        .stories {
            clear: both;
            margin-top: 60px;
        }
        .location {
            clear: both;
            margin: 0 0 20px;
        }
        .location h3.name,
        .character h3.name {
            margin-top: 0;
        }
        .location img,
        .character img {
            float: left;
            width: 100px;
            height: 100px;
            margin: 5px 15px 5px 0;
        }
        .character {
            clear: both;
            margin: 0 0 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1 class="page-header">
            {{ title }}
            {% if story.createdBy == user %}
                <span class="small">
                <a href="{{ path('story_edit', { storyId : id }) }}">edit</a>
            </span>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-8">
        <div class="main story clearfix">
            <h2>Story</h2>
            {% image '@AppBundle/Resources/public/images/placeholder.jpg' %}
                <img src="{{ asset_url }}" class="img-rounded" />
            {% endimage %}
            {{ body|nl2br }}
        </div>
        <div class="stories">
            <h2>Related Stories</h2>
            {{ include('story/partials/list.html.twig') }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="locations">
            <h2>Location</h2>
            {% if locations is empty %}
            <span class="text-muted">None</span>
            {% else %}
                {% for location in locations %}
                    <div class="location panel panel-default panel-body">
                        <h3 class="name">
                            <a href="{{ path('location_show', {locationId: location.id }) }}" style="color: inherit;">{{ location.name }}</a>
                            {% if location.createdBy == user %}
                                <span class="small">
                                <a href="{{ path('location_edit', {locationId: location.id }) }}">edit</a>
                            </span>
                            {% endif %}
                        </h3>
                        {% image '@AppBundle/Resources/public/images/placeholder.jpg' %}
                            <img src="{{ asset_url }}" class="img-rounded" />
                        {% endimage %}
                        {{ location.description|nl2br }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="characters">
            <h2>Characters</h2>
            {% if roles is empty %}
            <span class="text-muted">None</span>
            {% else %}
                {% for role in roles %}
                    <div class="character panel panel-default panel-body">
                        <h3 class="name">
                            <a href="{{ path('role_show', {roleId: role.id }) }}" style="color: inherit;">{{ role.name }}</a>
                            {% if role.createdBy == user %}
                            <span class="small">
                                <a href="{{ path('role_edit', {roleId: role.id }) }}">edit</a>
                            </span>
                            {% endif %}
                        </h3>
                        {% image '@AppBundle/Resources/public/images/placeholder-role.png' %}
                        <img src="{{ asset_url }}" class="img-rounded" />
                        {% endimage %}
                        {{ role.description|nl2br }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
