{% extends 'base.html.twig' %}

{% block title %}Story #{{ id }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        img {
            margin: 0 10px 5px 0;
        }
        .story img {
            float: left;
            width: 300px;
            height: 250px;
        }
        .stories {
            clear: both;
            margin-top: 60px;
        }
        .location {
            clear: both;
            margin: 0 0 20px;
        }
        .location img {
            width: 100%;
        }
        .character {
            clear: both;
            margin: 20px 0;
        }
        .character img {
            float: left;
            width: 120px;
            height: 150px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h2 class="page-header">
            {{ title }}
            {% if story.createdBy == user %}
            <span class="small">
                <a href="{{ path('story_edit', { storyId : id }) }}">edit</a>
            </span>
            {% endif %}
        </h2>
    </div>
    <div class="col-md-8">
        <div class="story clearfix">
            {#{% image '@AppBundle/Resources/public/images/placeholder.jpg' %}#}
                {#<img src="{{ asset_url }}" class="img-rounded" />#}
            {#{% endimage %}#}
            {{ body }}
        </div>
        <div class="stories">
            <h3>Related Stories</h3>
            {{ include('story/partials/list.html.twig') }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="locations">
            <h3 class="text-muted">Location</h3>
            {% for location in locations %}
                <div class="location panel panel-default panel-body">
                    {#{% image '@AppBundle/Resources/public/images/placeholder.jpg' %}#}
                        {#<img src="{{ asset_url }}" class="img-rounded" />#}
                    {#{% endimage %}#}
                    <h3>
                        <a href="{{ path('location_show', {locationId: location.id }) }}" style="color: inherit;">{{ location.name }}</a>
                        {% if location.createdBy == user %}
                        <span class="small">
                            <a href="{{ path('location_edit', {locationId: location.id }) }}">edit</a>
                        </span>
                        {% endif %}
                    </h3>
                    {{ location.description }}
                </div>
            {% endfor %}
        </div>
        <div class="characters">
            {% for role in roles %}
                <div class="character">
                    {#{% image '@AppBundle/Resources/public/images/placeholder-role.png' %}#}
                        {#<img src="{{ asset_url }}" class="img-rounded" />#}
                    {#{% endimage %}#}
                    <h4>
                        <a href="{{ path('role_show', {roleId: role.id }) }}" style="color: inherit;">{{ role.name }}</a>
                        {% if role.createdBy == user %}
                        <span class="small">
                            <a href="{{ path('role_edit', {roleId: role.id }) }}">edit</a>
                        </span>
                        {% endif %}
                    </h4>
                    {{ role.description }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
